.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding: 10px;
    text-align: left;
    z-index: 1000;
    
  }
  @media (max-width: 768px) {
    .top-bar {
      padding-top: 60px; /* הורדת תוכן העמוד למטה */
    }
  }
  .role-button {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 15px; /* פינות מעוגלות */
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 40px; /* פינות מעוגלות */
    cursor: pointer;
    margin-left: 15px;
    
  }
  
  .role-button:hover {
    background-color: #45a049;
    
  }
  .mayor-button {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 15px; /* פינות מעוגלות */
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 15px; /* פינות מעוגלות */
    cursor: pointer;
    margin-left: 15px;
  }
  
  .mayor-button:hover {
    background-color: #0056b3;
  }

  




  .modal-overlay-role {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* רקע כהה לטשטוש */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal-content-role {
    position: relative;
    width: 650px; /* גודל המגילה */
    height: 700px; /* גובה המגילה */
    padding: 50px 30px; /* רווחים פנימיים */
    background: url('./klaf-removebg.png') no-repeat center center; /* תמונת המגילה */
    background-size: cover; /* התאמת התמונה לכל השטח */
    text-align: center;
    font-family: 'Bona Nova', serif; /* פונט אלגנטי */
    overflow-y: auto; /* גלילה פנימית אם הטקסט ארוך מדי */
    display: flex; /* שימוש בפלקס כדי לשלוט על מיקום התוכן */
    flex-direction: column; /* יישור התוכן אנכית */
    align-items: center; /* יישור תוכן למרכז אופקית */
    justify-content: flex-start; /* תחילת התוכן מלמעלה */
    padding-top: 140px; /* הזזת התוכן יותר למטה */
  }
  @media (max-width: 768px) {
    .modal-content-role {
      padding: 15px; /* התאמת רווחים */
      font-size: 14px; /* טקסט קטן יותר */
      max-height: 300px; /* התאמה לחלון קטן יותר */
    }
  }
  .top-bar h2 {
    font-family: 'Bona Nova', serif; /* שימוש בפונט Bona Nova */
    font-weight: 600; /* משקל רגיל */
    font-size: 28px; /* גודל כותרת */
    color: black; /* חום כהה */
    margin-bottom: 20px; /* רווח מתחת לכותרת */
    margin-top: 85px; /* הורדת הכותרת טיפה למטה */
    max-width: 400px; /* רוחב מקסימלי לטקסט */
  }
  
  .top-bar p {
    font-family: 'Bona Nova', serif; /* שימוש בפונט Bona Nova */
    font-weight: 200; /* משקל רגיל */
    font-size: 21px; /* גודל טקסט */
    color: black; /* צבע כהה */
    line-height: 1.9; /* ריווח שורות */
    margin-bottom: 15px; /* רווח בין הפסקאות */
    margin-top: 0px; /* הורדת התוכן טיפה למטה */
    max-width: 400px; /* הגבלת רוחב הטקסט */
    word-wrap: break-word; /* מעביר מילים לשורה חדשה במידת הצורך */
    text-align: justify; /* יישור טקסט לשני הצדדים */
  }
  
  @media (max-width: 768px) {
    .top-bar p {
      white-space: normal; /* שבירת שורות טבעית */
      word-wrap: break-word; /* שבירת מילים */
      font-size: 14px; /* גודל טקסט קטן יותר */
    }
  }
  
  .modal-content-role button {
    padding: 10px 20px; /* כפתור עם רווח פנימי */
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #8d6e63; /* צבע חום לכפתור */
    color: white;
    margin-top: 20px; /* מרווח מהתוכן */
    transition: 0.3s ease;
  }
  
  
  .modal-content-role button:hover {
    background-color: #6d4c41; /* צבע כהה יותר במעבר עכבר */
  }
  
