/* הכל יהיה ב-RTL */
body {
  font-family: Arial, sans-serif;
  background-image: url('./back_town.jpg'); /* נתיב לתמונה */
  background-size: cover; /* גורם לתמונה לכסות את כל האזור */
  background-position: center; /* ממרכז את התמונה */
  background-repeat: no-repeat; /* מונע חזרה של התמונה */
  margin: 0;
  padding: 0;
  direction: rtl; /* כיוון הכתיבה מימין לשמאל */
  min-height: 100vh; /* מינימום גובה של כל המסך */
  height: 100%; /* תופס 100% מהגובה */
  background-attachment: fixed; /* מבטיח שהתמונה תישאר קבועה בזמן גלילה */
}

body::before {
  content: "";
  position: fixed; /* קבוע למסך גם בזמן גלילה */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(179, 174, 174, 0.5); /* שכבה כהה חצי-שקופה */
  z-index: -1; /* השכבה תהיה מאחורי כל התוכן */
}
p, span, div {
  font-family: 'Assistant', sans-serif; /* אותו פונט */
  font-size: 20px; /* גודל גדול יותר */
  font-weight: 600; /* מודגש */
  line-height: 1.6; /* ריווח בין שורות */
  color: #093d6e; /* צבע טקסט */
}
/* התאמת כל הטקסטים */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Assistant', sans-serif; /* אותו פונט גם לכותרות */
  font-weight: 700; /* מודגש במיוחד */
  color: #093d6e; /* צבע לבן */
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 50px;
}

.title {
  font-family: 'Rubik Wet Paint', cursive; /* שינוי לפונט החדש */
  font-size: 75px; /* גודל הכותרת */
  font-weight: 400; /* משקל הפונט (רגיל) */

  color: #740606; /* צבע זהוב מתאים */
  text-shadow: 2px 2px 4px rgba(255, 139, 139, 0.8); /* הוספת צל להדגשה */
  margin: 60px 0; /* מרווחים סביב הכותרת */
  text-align: center; /* יישור למרכז */
  letter-spacing: 2px; /* ריווח בין אותיות */
  transition: transform 0.3s ease; /* אנימציה עדינה */
}

.title:hover {
  transform: scale(1.1); /* הגדלת הכותרת בעת מעבר עכבר */
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* שיפור תיבות טקסט */
input, textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* שינו את המיקום להיות מצד ימין */
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
}

button {
  padding: 12px 25px;
  font-size: 1.2rem;
  font-weight: 700; /* מודגש יותר */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase; /* אותיות גדולות */
}

button:hover {
  background-color: #45a049;
}

/* קטעים מסוימים מודגשים עוד יותר */
.highlight {
  color: #ffcc00; /* צהוב זהב */
  font-weight: 700;
  font-size: 20px;
}